<h1> This is the challenge edit page (with a form) </h1>
<div>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.input :descripton, label: "Description" %>
    <%= f.input :challenge_number, label: "Challenge", collection: Challenge.all, input_html: {}%>
    <%= f.submit %>
  <% end %>
 </div>
