<div class="underlined-headline">
  <h1>Edit your blog post</h1>
  <div class="headline"></div>
</div>

<div>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.input :descripton, label: "Description" %>
    <%= f.input :challenge_number, label: "Challenge", collection: Challenge.all, input_html: {}%>
    <%= f.submit %>
  <% end %>
 </div>
