<div class="underlined-headline">
  <h1>Edit your blog post</h1>
  <div class="headline"></div>
</div>

<div>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :descripton, label: "Subtitle" %>
    <%= f.input :text %>
    <%= f.input :photo, as: :file %>
    <%= f.input :challenge_number, label: "Related challenge (if wanted)", collection: Challenge.all, input_html: {}%>
    <%= f.button :submit, "Save changes", class: "btn-blue" %>
  <% end %>
</div>
