<div class="underlined-headline">
  <h1>Blog</h1>
  <div class="headline"></div>
</div>


<% @posts.each do  |post|%>

  <%= link_to blog_post_path(post) do %>
    <div class="card-blog-post">
      <%= cl_image_tag post.photo.key%>
      <div class="card-blog-infos">
        <h2><%= post.title %> </h2>
        <p> <em> <%= post.descripton %> </em> </p>
        
        <p>
          <% if post.challenge_number %>
            <% @challenge = Challenge.find(post.challenge_number) %>
            
              <% if @challenge.category == "sports" %>
                <div class="challenge-title sports"> Challenge: <%= @challenge.title %> </div>
              <% elsif @challenge.category == "mindfulness" %>
                <div class="challenge-title mindfulness"> Challenge: <%= @challenge.title %> </div>
              <% elsif @challenge.category == "self-organisation" %>
                <div class="challenge-title self-organisation"> Challenge: <%= @challenge.title %> </div>
              <% elsif @challenge.category == "studying" %>
                <div class="challenge-title studying"> Challenge: <%= @challenge.title %> </div>
              <% elsif @challenge.category == "nutrition" %>
                <div class="challenge-title nutrition"> Challenge: <%= @challenge.title %> </div>
              <% elsif @challenge.category == "others" %>
                <div class="challenge-title others"> Challenge: <%= @challenge.title %> </div>
              <% end %>
        </p>
        <% end %>
      </div>
    </div>
  <% end %>
<hr>
<% end %>

<%= link_to "Add a new post", new_blog_post_path, class: "btn-blue d-flex" %>
