<div class="underlined-headline">
  <h1>Blog</h1>
  <div class="headline"></div>
</div>

        

<% @posts.each do  |post|%>

  <%= link_to blog_post_path(post) do %>
    <div class="card-blog-post">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-blog-infos">
        <h2><%= post.title %> </h2>
        <p> <em> <%= post.descripton %> </em> </p>
        <p>
          <% if post.challenge_number %>
            <% @challenge = Challenge.find(post.challenge_number) %>
            <%= @challenge.title %>
        </p>
        <% end %>
      </div>
    </div>
  <% end %>
<hr>
<% end %>

<%= link_to "Add a new post", new_blog_post_path, class: "btn-blue d-flex" %>
