<h1> This is the challenge new page (with a form) </h1>
<div>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.input :challenge_id, collection: Challenge.all, input_html: {}%>
    <%= f.submit %>
  <% end %>
 </div>
