<% #actually showing the post %>
<div class="underlined-headline">
  <h1><%= @post.title %></h1>
  <div class="headline"></div>
</div>


  <div class="image-content" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg)">
  </div>

  <em> <%= @post.descripton %> </em>

  <hr>

  <%= @post.text %>

  <% @post.user.email %>

  <div class="underlined-headline">
    <h2>Connected challenge</h2>
    <div class="headline"></div>
  </div>



<% if @post.challenge_number %>
      <%= link_to challenge_path(@post.challenge_number) do %>
    <div class="card-challenge-connected">
      <% if @post.challenge_number %>
      <% @challenge = Challenge.find(@post.challenge_number) %>
      <div class="card-blog-info">
        <div class="card-blog-category">

          <% if @challenge.category == "sports" %>
            <div class="sports">
              <i class="fa-solid fa-person-running sports"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% elsif @challenge.category == "mindfulness" %>
            <div class="mindfulness">
              <i class="fa-sharp fa-solid fa-spa mindfulness"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% elsif @challenge.category == "self-organisation" %>
            <div class="self-organisation">
              <i class="fa-solid fa-clipboard-list self-organisation"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% elsif @challenge.category == "studying" %>
            <div class="studying">
              <i class="fa-solid fa-book studying"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% elsif @challenge.category == "nutrition" %>
            <div class="nutrition">
              <i class="fa-solid fa-glass-water nutrition"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% elsif @challenge.category == "others" %>
            <div class="others">
              <i class="fa-solid fa-rocket others"></i>
              <em> <%= @challenge.category %> </em>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-blog-title">
        <%= @challenge.title %>
      </div>
      <% end %>
    </div>
      <% end %>
<% end %>

<% # Deleting or Editing the post %>
<% if @post.user = current_user %>
    <%= link_to "Edit post", edit_blog_post_path, class: "btn-black" %>
    <%= link_to "Delete this post", blog_post_path(@post),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-black" %>
<% end %>


<%= link_to "Back to blog", blog_posts_path, class: "btn-blue" %>
