<% #actually showing the post %>
<div class="underlined-headline">
  <h1><%= @post.title %></h1>
  <div class="headline"></div>
</div>

<% if @post.challenge_number %>
<% @challenge = Challenge.find(@post.challenge_number) %>
<%= @challenge.title %>
<%= link_to "See the linked Challenge" , challenge_path(@post.challenge_number), class: "btn-blue" %>
<% end %>

<div>Here has to be the card for the post details</div>

<ul>
  <li><%= @post.descripton %></li>
  <li><%= @post.text %></li>
  <li><% @post.user.email %></li>
</ul>

<% # Deleting or Editing the post %>
<% if @post.user = current_user %>
    <%= link_to "Edit post", edit_blog_post_path, class: "btn-black" %>
    <%= link_to "Delete this post", blog_post_path(@post),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-black" %>
<% end %>


<%= link_to "See all ", blog_posts_path, class: "btn-blue" %>
