<% if current_user %>
    <div class="underlined-headline">
      <h1>Welcome <%=current_user.name%></h1>
      <div class="headline"></div>
    </div>

<% else %>
    <div class="underlined-headline">
      <h1>Welcome to Step by StApp</h1>
      <div class="headline"></div>
    </div>
<% end %>



<%#= render "completed_cards"  %>
<%= render "motivation"  %>

<% if current_user %>
  <%= render "personal_challenges_preview" %>
<% else %>
  <%= render "public_challenges_preview" %>
<% end %>

<%= render "blog_posts_preview" %>
