
                   <% markers =  current_user.challenge_participations.where(challenge: @challenge).map(&:challenge_completions) %>
                  <% one_month = (Date.today.at_beginning_of_month..Date.today.at_end_of_month).to_a %>



                  <%= Date::MONTHNAMES[Date.today.month] %>
                  
              <div class="card-challenge-progress-boxes-month">
                  <div><%= "cw #{one_month.first.beginning_of_month.cweek}" %></div>
                  <% #extra boxes %>
                  <% for _ in (2..one_month.first.wday) do %>
                  <div class="extra-boxes"> </div>
                  <% end %>

                  <% completion = 0 %>


                  <% one_month.each do |day| %>
                  <% counter = 0 %>
                    <% # es sei denn marker day = wie der day  %>
                        <% markers.each do |completions| %>
                            <% completions.each do |marker|  %>
                                <% if marker.created_at.to_date == day %>
                                  <% counter += 1 %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% if counter.positive? %>
                            <% if day.wday == 0 && @challenge.weekly_goal <=  completion %>
                                <div class = "checked"> </div>
                                <% completion += 1 %>
                               <div class="completion-done">
                                </div>
                               </div>
                                <br>
                                <% completion = 0 %>
                                <div class="card-challenge-progress-boxes-month">
                                <div><%= "cw #{day.tomorrow.cweek}" %></div>
                            <% elsif day.wday == 0 %>
                                <div class = "checked"> </div>
                                <% completion += 1 %>
                                <div class = "completion">
                                </div>
                                          </div>
                                <br>
                                <% completion = 0 %>
                                <div class="card-challenge-progress-boxes-month">
                                <div><%= "cw #{day.tomorrow.cweek}" %></div>
                            <% else %>
                                <div class = "checked"> </div>
                                <% completion += 1 %>
                            <% end %>
                    <% else %>
                            <% if day.wday == 0 && @challenge.weekly_goal <=  completion %>
                                <div class = "checkbox"> </div>
                                <div class = "completion-done">
                               </div>
                                </div>
                               <% completion = 0 %>
                                <br>
                                <div class="card-challenge-progress-boxes-month">
                                <div><%="cw #{day.tomorrow.cweek}" %></div>

                            <% elsif day.wday == 0 %>
                                <div class = "checkbox"> </div>
                              <div class = "completion">
                                          </div>
                              </div>
                                <% completion = 0 %>
                                <br>
                                <div class="card-challenge-progress-boxes-month">
                                <div><%="cw #{day.tomorrow.cweek}" %></div>
                            <% else %>
                                <div class = "checkbox"> </div>
                            <% end %>
                    <% end %>
                  <% end %>



                  <% #extra boxes %>

                  <% for _ in (one_month.last.wday..6) do %>
                    <div class="extra-boxes"> </div>
                  <% end %>


                  <% #completion box %>
                  <% if @challenge.weekly_goal <=  completion %>
                        <div class = "completion-done">
                                        </div>
                  <% else %>
                        <div class = "completion">
                                          </div>
                  <% end %>




</div>
