<div class="underlined-headline">
  <h1> Public challenges</h1>
  <div class="headline"></div>
</div>

<!-- Challenge card design -->


<div class="cards-challenges my-5">
  <% @challenges.each do  |challenge|%>
    <% if challenge.public %>
      <%= link_to challenge_path(challenge) do %>
        <div class="card-public-challenge" >
          <div class="card-public-challenge-infos">
            <%= image_tag "public-challenge-icon.png", height: 20, width: 20 %>
          </div>
          <div class="card-public-challenge-progress">
            <div class="card-public-challenge-icon-title">
              <div class="card-public-challenge-icon">
                <!-- <%= image_tag "mindfulness-category.png", height: 26, width: 26 %> -->
                <% if challenge.category == "sports" %>
                  <i class="fa-solid fa-person-running sports"></i>
                <% elsif challenge.category == "mindfulness" %>
                  <i class="fa-sharp fa-solid fa-spa mindfulness"></i>
                <% elsif challenge.category == "self-organisation" %>
                  <i class="fa-solid fa-clipboard-list self-organisation"></i>
                <% elsif challenge.category == "studying" %>
                  <i class="fa-solid fa-book-open-cover studying"></i>
                <% elsif challenge.category == "nutrition" %>
                  <i class="fa-solid fa-glass-water nutrition"></i>
                <% elsif challenge.category == "others" %>
                  <i class="fa-solid fa-rocket others"></i>
                <% end %>
              </div>
              <div class="card-public-challenge-title">
                <%= challenge.title %>
              </div>
              
            </div>
            <div class="card-public-challenge-description">
            
            <div class="user-name">
              <% if challenge.user.photo.attached? %>
                <div class="avatar-small"><%= cl_image_tag challenge.user.photo.key %></div>
              <% end %>
              by <%= challenge.user.name %> 
            </div>
              <div><%= challenge.description %></div>
              <div class="end-date"> 
                <p>Until: <%= challenge.end_date %></p>
              </div>
            </div>
            
            

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Add a new challenge", new_challenge_path, class: "btn-blue d-flex" %>
</div>
<div>
    <%= link_to "See all my challenges", challenge_participations_path, class: "btn-black d-flex" %>
</div>
