<h1> Here is the challenges index page </h1>

<%= link_to "Add a new challenge", new_challenge_path %>




    <% @challenges.each do  |challenge|%>


      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <p> <%= challenge.title %> </p>
            <p> <%= challenge.description %> </p>
            <p> <%= challenge.weekly_goal %> </p>
            <p> <%= challenge.end_date %> </p>
            <%= link_to "See this challenge", challenge_path(challenge) %>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>


    <% end %>


    <div class="card-challenge">
      <div class="card-challenge-infos">
        Run (here is the title)
      </div>
      <div class="card-challenge-progress">
          <div class="card-challenge-icon"  >
            <%= image_tag "meditation.png", height: 20, width: 20 %>
          </div>
          <div class="card-challenge-progress-boxes">
          BOX, BOX, BOX, BOX, BOX
          </div>
          <a href="#" class="check-button">
            <strong> ✓ </strong>
          </a>
        </div>
    </div>
