<h1> Here is the challenges index page </h1>

<%= link_to "Add a new challenge", new_challenge_path %>


<!-- New card design -->

  <% @challenges.each do  |challenge|%>
    <% if challenge.public %>



    <div class="card-challenge" >
    <%= link_to "See this challenge", challenge_path(challenge) %>
      <div class="card-challenge-infos">
      </div>
      <div class="card-challenge-progress">
          <div class="card-challenge-icon-title">
            <div class="card-challenge-icon"  >
              <%= image_tag "meditation-new.png", height: 20, width: 20 %>
            </div>
            <div class="card-challenge-title">
                <p> <%= challenge.title %> </p>
            </div>
          </div>
          <div class="card-challenge-progress-boxes">
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
            <div class="checkbox">
            </div>
          </div>
          <a href="#" class="check-button">
            <%= image_tag "check.png", height: 32, width: 32 %>

            <!-- <i class="fa-solid fa-circle-check gradient", height="40", width="40"></i> -->
          </a>
        </div>
    </div>

    <% end %>
  <% end %>