
<% #actually showing the challenge %>
<div class="underlined-headline mb-2">
  <h1><%= @challenge.title %></h1>
  <div class="headline"></div>
</div>

<!-- Old alternative with png-icons -->


<div class="card-category">
    <% if @challenge.category == "sports" %>
      <i class="fa-solid fa-person-running sports"></i>
      <div class="sports"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% elsif @challenge.category == "mindfulness" %>
      <i class="fa-sharp fa-solid fa-spa mindfulness"></i>
      <div class="mindfulness"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% elsif @challenge.category == "self-organisation" %>
      <i class="fa-solid fa-clipboard-list self-organisation"></i>
      <div class="self-organisation"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% elsif @challenge.category == "studying" %>
      <i class="fa-solid fa-book-open-cover studying"></i>
      <div class="studying"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% elsif @challenge.category == "nutrition" %>
      <i class="fa-solid fa-glass-water nutrition"></i>
      <div class="nutrition"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% elsif @challenge.category == "others" %>
      <i class="fa-solid fa-rocket others"></i>
      <div class="others"> <strong> <em> <%= @challenge.category %> </em> </strong> </div>

    <% end %>
</div>


<!-- New alternative with font awesome icons -->
<!--
<div class="card-category">
  <% case @challenge.category %>
  <% when "sports" %>
    <i class="fa-solid fa-person-running sports sports"></i>
    <div class="sports" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% when "mindfulness" %>
    <i class="fa-sharp fa-solid fa-spa mindfulness"></i>
    <div class="mindfulness" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% when "self-organisation" %>
    <i class="fa-solid fa-clipboard-list self-organisation"></i>
    <div class="self-organisation" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% when "studying" %>
    <i class="fa-solid fa-book-open-cover studying"></i>
    <div class="studying" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% when "nutrition" %>
    <i class="fa-solid fa-glass-water nutrition"></i>
    <div class="nutrition" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% when "others" %>
    <i class="fa-solid fa-rocket others"></i>
    <div class="others" > <strong> <em> <%= @challenge.category %> </em> </strong> </div>
  <% end %>
</div>
-->

<div class="challenge-details">
  <div class="challenge-description"><%= @challenge.description %></div>
  <div class="challenge-goal-duration">
    <p class="weekly-goal"> <em> <%= @challenge.weekly_goal %> weeks </em> </p>
    <div class="duration">
      <p> Start: <%= @challenge.start_date %> </p>
      <p> End: <%= @challenge.end_date %> </p>
    </div>
  </div>
</div>

<div class="underlined-headline">
  <h2>Your progress</h2>
  <div class="headline"></div>
</div>

<div>Here has to be the calendar</div>
<%= render "calender"  %>


<% # showing the join or unjoin method %>
<% if current_user %>
<% if current_user.challenges.include?(@challenge) && !@participation.empty? %>

  <p>You're part of this challenge</p>

    <%= link_to "Leave this challenge", challenge_challenge_participation_path(@challenge, @participation.first),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-black" %>

<% else %>
    <%= simple_form_for [@challenge, @new_participation] do |f| %>
      <%= f.submit "Join this challenge", class: "btn-black" %>
    <% end %>
<% end %>
<% end %>


<% # Deleting or Editing the challenge %>
<% if @challenge.user = current_user %>
    <%= link_to "Edit challenge", edit_challenge_path, class: "btn-black" %>
    <%= link_to "Delete this challenge", challenge_path(@challenge),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure? You're deleting this challenge for everybody paricipating if it's puplic" }, class: "btn-black" %>
<% end %>


<%= link_to "See all challenges", challenges_path, class: "btn-blue" %>
